/*Card container for individual card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    float: left;
    color: forestgreen;
}
/*Card shadow is more pronounced when hovering*/
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
/*Card becomes opaque when clicked on*/
    .card:active {
        opacity: 0.5;
    }
/**/
.container {
    padding: 2px 16px;
}
/*Sizing for image*/
.trip_image {
    width: 250px;
    height: 150px;
}

.mode_icon {
}

.dollar1 {
}

.dollar2 {
}

.dollar3 {
}
